diffusers
opencv-python
pytorch-lightning==1.8.3.post0
deprecate
-e "git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers"
-e "git+https://github.com/openai/CLIP.git@main#egg=clip"
